html,
body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(https://storage.googleapis.com/backslash-project.appspot.com/static/background_autumn.jpg);
    background-attachment: fixed;
    background-size: cover;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}